@import '../../variables'

$grid-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
$square-width-lg: 37.2px

.grid
   width: $grid-width
   height: $grid-width
   padding: 0
   margin: 0
   box-shadow: $grid-shadow

   li
      list-style: none

.spacer
   display: inline
   margin: 0 8px

.square
   float: left
   text-align: center
   background: white
   border: 1px solid rgba(0,0,0,.1)
   padding: 8px 5px 5px 5px
   width: $square-width-lg
   height: $square-width-lg

// Borders
.border-right
   border-right: 3px solid

.border-bottom
   border-bottom: 3px solid
