<ul class="grid">

   <!-- First Row -->
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>

   <!-- Second Row -->
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>

   <!-- Third Row -->
   <li><div class="square border-bottom"></div></li>
   <li><div class="square border-bottom"></div></li>
   <li><div class="square border-bottom border-right"></div></li>
   <li><div class="square border-bottom"></div></li>
   <li><div class="square border-bottom"></div></li>
   <li><div class="square border-bottom border-right"></div></li>
   <li><div class="square border-bottom"></div></li>
   <li><div class="square border-bottom"></div></li>
   <li><div class="square border-bottom"></div></li>

   <!-- Fourth Row -->
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>

   <!-- Fifth Row -->
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>

   <!-- Sixth Row -->
   <li><div class="square border-bottom"></div></li>
   <li><div class="square border-bottom"></div></li>
   <li><div class="square border-bottom border-right"></div></li>
   <li><div class="square border-bottom"></div></li>
   <li><div class="square border-bottom"></div></li>
   <li><div class="square border-bottom border-right"></div></li>
   <li><div class="square border-bottom"></div></li>
   <li><div class="square border-bottom"></div></li>
   <li><div class="square border-bottom"></div></li>

   <!-- Seventh Row -->
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>

   <!-- Eighth Row -->
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>

   <!-- Ninth Row -->
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square border-right"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>
   <li><div class="square"></div></li>

</ul>
