<app-header></app-header>

<div class="container">

   <!-- First Grid -->
   <app-grid *ngIf="data.puzzle"
      [puzzle]="data.puzzle">
   </app-grid>

   <!-- Solve Button -->
   <div class="btn-container">
      <button (click)="solve()" class="btn-solve">Solve</button>
      <div class="loading-msg hidden">Solving..</div>
      <div class="loader hidden"></div>
   </div>

   <!-- Second Grid -->
   <app-grid *ngIf="data.puzzle"
      [puzzle]="data.puzzle">
   </app-grid>

</div>

<!-- Status Message -->
<app-status *ngIf="data.duration"
   [duration]="data.duration"
   [error]="data.error">
</app-status>
