@import '../variables'

$container-width-lg: 890px
$container-width-md: 732px

// Medium Screens
@media screen and (min-width: $screen-md + 1)
   .container
      width: $container-width-lg

// Small Screens
@media screen and (max-width: $screen-md)
   .container
      width: $grid-width
      display: block

   .btn-container
      text-align: center

   .btn-solve
      margin: 50px 0

